<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataConnectionString" value=""/>
    <add key="PollingInterval" value="1"/>
    <add key="ClientEXE" value="FoldingClientMock.exe"/>
    <add key="PingServer" value="http://localhost"/>
    <add key ="MongoDBConnectionString" value="mongodb://chandermani:welcome@ds031657.mongolab.com:31657/athomedb" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
